TypescriptApp/.vs
TypescriptApp/TypescriptApp/bin
TypescriptApp/TypescriptApp/obj
TypescriptApp/TypescriptApp/node_modules
TypescriptApp/packages
TypescriptApp/Server/bin
TypescriptApp/Server/obj
TypescriptApp/Server/node_modules