*.suo
TypescriptApp/packages
TypescriptApp/.vs

TypescriptApp/TypescriptApp/app.js*
TypescriptApp/TypescriptApp/bin
TypescriptApp/TypescriptApp/obj
TypescriptApp/TypescriptApp/node_modules
TypescriptApp/TypescriptApp/typings
TypescriptApp/TypescriptApp/features/**/*.js
TypescriptApp/TypescriptApp/features/**/*.js.map

TypescriptApp/Server/app.js*
TypescriptApp/Server/bin
TypescriptApp/Server/obj
TypescriptApp/Server/node_modules
TypescriptApp/Server/typings

