<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="express.TypeScript.DefinitelyTyped" version="2.7.1" targetFramework="net452" />
  <package id="express-serve-static-core.TypeScript.DefinitelyTyped" version="0.3.8" targetFramework="net452" />
  <package id="mime.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="net452" />
  <package id="node.TypeScript.DefinitelyTyped" version="2.7.1" targetFramework="net452" />
  <package id="serve-static.TypeScript.DefinitelyTyped" version="1.3.7" targetFramework="net452" />
</packages>